<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Signservlet</display-name>
    <servlet-name>Signservlet</servlet-name>
    <servlet-class>cscorner.Signservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signservlet</servlet-name>
    <url-pattern>/Signservlet</url-pattern>
  </servlet-mapping>
  <display-name>p</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>call.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ser</display-name>
    <servlet-name>Ser</servlet-name>
    <servlet-class>cscorner.Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser</servlet-name>
    <url-pattern>/Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallUrl</display-name>
    <servlet-name>CallUrl</servlet-name>
    <servlet-class>cscorner.CallUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallUrl</servlet-name>
    <url-pattern>/CallUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>apiResponse</display-name>
    <servlet-name>apiResponse</servlet-name>
    <servlet-class>cscorner.apiResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apiResponse</servlet-name>
    <url-pattern>/apiResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySurahServlet</display-name>
    <servlet-name>MySurahServlet</servlet-name>
    <servlet-class>cscorner.MySurahServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySurahServlet</servlet-name>
    <url-pattern>/MySurahServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyapiResponse</display-name>
    <servlet-name>MyapiResponse</servlet-name>
    <servlet-class>cscorner.MyapiResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyapiResponse</servlet-name>
    <url-pattern>/MyapiResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>cscorner.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveMySurahServlet</display-name>
    <servlet-name>SaveMySurahServlet</servlet-name>
    <servlet-class>cscorner.SaveMySurahServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMySurahServlet</servlet-name>
    <url-pattern>/SaveMySurahServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveBookmark</display-name>
    <servlet-name>saveBookmark</servlet-name>
    <servlet-class>cscorner.saveBookmark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveBookmark</servlet-name>
    <url-pattern>/saveBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mark</display-name>
    <servlet-name>Mark</servlet-name>
    <servlet-class>cscorner.Mark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mark</servlet-name>
    <url-pattern>/Mark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuranServlet</display-name>
    <servlet-name>QuranServlet</servlet-name>
    <servlet-class>cscorner.QuranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuranServlet</servlet-name>
    <url-pattern>/QuranServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>cscorner.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
</web-app>